
header {
    text-align: center;
    font-size: 40px;
    background-color: brown;
    margin-bottom: 2%;
}

.img {
    display: flex;
    margin-top: 2%;
}

li a{
color: blue;
}

li a:hover {
    color: red;
}